<div class="meta-form standard-meta">
    {{input value=standardTags.siteTitle placeholder="Site Title"}}
    {{input value=standardTags.keywords placeholder="Keywords"}}
</div>

<div class="meta-tags-output">
    <p>{{standardTags.siteTitle}}</p>
    <p>{{standardTags.keywords}}</p>
</div>
